.section-head.center.wt-small-separator-outer {
  margin-bottom: 50px;
  text-align: center;
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
}
.wt-small-separator {
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ff8a00;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  opacity: 1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ff8a00;
}
.section-head.center.wt-small-separator-outer h2 {
  max-width: 710px;
  margin: 0px auto;
}
.section-head .section-head-text {
  font-size: 14px;
}
.section-head.left.wt-small-separator-outer p {
  margin-bottom: 40px;
}
.section-head.center.wt-small-separator-outer .section-head-text {
  margin: 20px 0px 0px 0px;
}
.section-head.center.wt-small-separator-outer .section-head-text {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
.tw-service-icon-box-wrap {
  position: relative;
  padding: 30px 90px 30px 40px;
  margin-top: 50px;
  z-index: 1;
  margin-bottom: 80px;
}
.service-icon-box-two {
  position: relative;
  margin-bottom: 5px;
  padding: 20px;
  background-color: #fff;
  transition: all 0.3s linear;
  z-index: 0;
}
.service-icon-box-two:hover {
  box-shadow: 0px 0px 50px rgb(30 143 208 / 50%);
  z-index: 999;
}
.service-icon-box-two:before {
  width: 8px;
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  left: -8px;
  top: 30px;
  bottom: 30px;
  background-color: #ff8a00;
  transition: all 0.3s linear;
}
.service-icon-box-two:hover:before {
  left: 0%;
  opacity: 1;
}
.service-icon-box-two .service-icon-box-two-media {
  margin-right: 30px;
  margin-top: 20px;
  float: left;
  width: 70px;
}
.service-icon-box-two .service-icon-box-title {
  overflow: hidden;
}
.service-icon-box-two .service-icon-box-title .wt-title {
  margin-bottom: 15px;
}
.service-icon-box-two .service-icon-box-title p {
  margin-bottom: 0px;
}
.tw-service-icon-box-wrap:after {
  position: absolute;
  content: "";
  top: -50px;
  bottom: -50px;
  right: 0px;
  border-style: solid;
  border-color: #ff8a00;
  border-width: 60px 60px 60px 0px;
  left: 25%;
  z-index: -1;
}

/* media query */

@media (max-width: 991px) {
  .section-full.p-t120,
  .section-full.p-b90,
  .section-full.p-tb120 {
    padding-top: 38px;
    padding-bottom: 10px;
  }
  .wt-small-separator {
    font-size: 27px;
    margin-bottom: 10px;
    letter-spacing: 3px;
  }
  .section-head.center.wt-small-separator-outer h2 {
    font-size: 30px;
  }
  .tw-what-wedo-media {
    text-align: center;
    margin-bottom: 30px;
  }
  .tw-service-icon-box-wrap {
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .section-head.center.wt-small-separator-outer h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .tw-service-icon-box-wrap {
    margin-bottom: 50px;
  }
  .service-icon-box-two .service-icon-box-title .wt-title {
    padding-right: 0px;
  }
}

@media (max-width: 480px) {
  .tw-service-icon-box-wrap {
    padding: 0px 30px 30px 10px;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .service-icon-box-two .service-icon-box-two-media {
    margin-right: 20px;
    width: 40px;
  }
  .tw-service-icon-box-wrap:after {
    border-width: 30px 30px 30px 0px;
    bottom: 0px;
    top: -30px;
  }
}
